<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a [routerLink]="['/login']" class="title">ProxiBanque</a>

        <div class="rightside-navbar">
          <ng-container *ngIf="role$ | async as role">
              <a *ngIf="role === 'manager'" [routerLink]="['/statistics']">Statistics</a>
              <a *ngIf="role === 'manager'" [routerLink]="['/advisors-list']">Advisors</a>
              <a *ngIf="role === 'advisor'" [routerLink]="['/client-create']">Add Client</a>
              <a *ngIf="role === 'advisor'" [routerLink]="['/client-list']">Clients</a>
              <span>Nantes agency</span>
              <a *ngIf="role" (click)="logout()" style="cursor: pointer; margin-left: auto;">
                <i class="fa-solid fa-right-to-bracket"></i>
              </a>
          </ng-container>
        </div>
    </nav>
</body>
</html>
