.mat-toolbar.mat-primary {
    background: #413993;
    color: black;
}
.mat-toolbar h1{
    color: black;
}

.mat-toolbar h1:hover{
    
        text-decoration:underline;
    color: wheat;
}

.space-toolbar{
    margin-left: 10px;
}
