nav,nav a{
    background: #413993;
    text-decoration: none;
    color: black;
    height: 45px;
    padding-left: 10px;
    padding-top: 8px;
}

nav a:hover{
    color: beige;
}

.title{
font-size: 160%;
font-weight: bold;
padding-right: 40px;
}

nav span{
    position: fixed;
    right: 20px;
    padding-top: 5px;
}