nav {
  height: 80px;
  padding-inline: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EDF0F6;

  a {
    transition: color 0.3s ease;
  }
}

nav a:hover{
  color: #584FBA;
  transition: color 0.3s ease;
}

.rightside-navbar {
  display: flex;
  align-items: baseline;
}

.rightside-navbar a {
  text-decoration: none;
  color: #413993;
  padding-right: 30px;
  font-weight: 500;
}

.title {
  font-size: 160%;
  font-weight: bold;
  text-decoration: none;
  color: #413993;
}

nav span{
  right: 20px;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.rightside-navbar {
  display: flex;
  align-items: center;
}

.rightside-navbar a {
  margin-left: 1rem;
  padding-left: 10px;
}
