<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.component.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a [routerLink]="['/login']" class="title">ProxiBanque</a>

        <ng-container *ngIf="role$ | async as role">
            <a *ngIf="role === 'manager'" [routerLink]="['/statistics']">Statistics</a>
            <a *ngIf="role === 'manager'" [routerLink]="['/advisors-list']">Advisors List</a>
            <a *ngIf="role === 'advisor'" [routerLink]="['/client-create']">Add Client</a>
            <a *ngIf="role === 'advisor'" [routerLink]="['/client-list']">Client List</a>
        </ng-container>

        <span>Site de Nantes</span>
    </nav>
</body>
</html>
