<div class="container">
  <h1>Edit client</h1>
  <a routerLink="/client-list" class="back-to-list"> <- Back to clients</a>
  <div class="client-create-container">
    <form (ngSubmit)="editClient()">
        <div  class="form-row">
            <div class="form-group">
                <label for="firstName">First name:</label>
                <input type="text" id="firstName"  name="firstName" [(ngModel)]="clientDetails.firstName" placeholder="{{clientDetails.firstName}}">
            </div>
            <div class="form-group">
                <label for="lastName">Last name:</label>
                <input type="text" id="lastName"  name="lastName" [(ngModel)]="clientDetails.lastName" placeholder="{{clientDetails.lastName}}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="address">Street:</label>
                <input type="text" id="address" name="address" [(ngModel)]="clientDetails.address.street" placeholder="{{clientDetails.address.street}}">
            </div>
            <div class="form-group">
                <label for="postalCode">Postal code:</label>
                <input type="text" id="postalCode" name="postalCode" [(ngModel)]="clientDetails.address.postalCode" placeholder="{{clientDetails.address.postalCode}}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" id="city"  name="city" [(ngModel)]="clientDetails.address.city" placeholder="{{clientDetails.address.city}}">
            </div>
            <div class="form-group">
                <label for="noTel">Phone:</label>
                <input type="text" id="noTel"  name="noTel" [(ngModel)]="clientDetails.noTel" placeholder="{{clientDetails.noTel}}">
            </div>
        </div>
        <button  type="submit" class="btn btn-primary">Edit Client</button>
    </form>
  </div>
</div>
