<div class="container text-center">
  <p class="advisor-name">Hi Morgan</p>
  <h1>Nantes agency</h1>

  <div class="sections">

    <div class="advisors-section">
      <h2>All advisors</h2>
      <div *ngFor="let advisor of advisors">
        <a (click)="selectAdvisor(advisor)">{{ advisor.lastName | uppercase }} {{ advisor.firstName }}</a>
      </div>

    </div>

    <div class="info-section">
      <h2>Advisor info</h2>
      <div *ngIf="selectedAdvisor">

        <div class="d-flex justify-content-between">
          <h3 class="info-title">First name</h3>
          <p>{{ selectedAdvisor.firstName }}</p>
        </div>

        <div class="d-flex justify-content-between">
          <h3 class="info-title">Last name</h3>
          <p>{{ selectedAdvisor.lastName | uppercase }}</p>
        </div>

        <div class="d-flex justify-content-between">
          <h3 class="info-title">Email</h3>
          <p>{{ selectedAdvisor.email }}</p>
        </div>

      </div>

        <h3>Clients</h3>

    </div>

  </div>

</div>
