.statistics-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 20px;
  }
  
  .chart-container, .overdrawn-clients-container {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 40px;
    background-color: #fff;
    max-width: 600px;
    width: 100%; 
  }

  .overdrawn-clients-container {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    max-width: 400px; 
    width: 100%;
  }
  
  
  .chart-container {
    margin-right: 20px;
  }
  
  .clients-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .clients-list li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
  }
  
  .clients-list li:last-child {
    border-bottom: none; 
  }
  
  .client-info {
    display: flex;
    flex-direction: column;
  }
  
  .client-name {
    color: #413993;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .client-account {
    color: #aaa;
  }
  
  .overdrawn-amount {
    color: red;
    /* font-weight: bold; */
  }
  