<div class="container text-center">
  <p class="client-name">{{ client.lastName | uppercase }} {{ client.firstName }}</p>
  <h1>Client account</h1>

  <div class="display-flex center-content tables">
    <div class="border-table card-table">
      <h2>Card</h2>
        <h3>Name of the card</h3>
    </div>

    <div class="border-table accounts-table">
      <h2>{{ client.lastName | uppercase }} {{ client.firstName }}</h2>

      <div *ngFor="let account of client.listAccount">

        <div class="account">
          <div>
            <h3>{{ account.accountType }}</h3>
            <p>{{ account.numAccount }}</p>
          </div>

          <p>{{ account.solde | currency: 'EUR' }}</p>
        </div>

      </div>

      <div class="total-soldes">
        <h3>TOTAL</h3>
        <p>total des soldes</p>
      </div>

    </div>

  </div>

  <button class="btn btn-primary">Bank transfer</button>
</div>
