<div class="container text-center">
  <p class="client-name">{{ client.lastName | uppercase }} {{ client.firstName }}</p>
  <h1>Client account</h1>

  <div class="display-flex center-content tables">
    <div class="border-table card-table">
      <h2>Card</h2>
        <h3>Name of the card</h3>
    </div>

    <div class="border-table accounts-table">
      <h2>{{ client.lastName | uppercase }} {{ client.firstName }}</h2>

      <div class="account" *ngIf="client.currentAccount">
        <div>
          <h3>Current Account</h3>
          <p>{{ client.currentAccount.infoAccount.numAccount }}</p>
        </div>
        <p>{{ client.currentAccount.infoAccount.solde | currency: 'EUR' }}</p>
      </div>

      <div class="account" *ngIf="client.savingAccount">
        <div>
          <h3>Saving Account</h3>
          <p>{{ client.savingAccount.infoAccount.numAccount }}</p>
        </div>
        <p>{{ client.savingAccount.infoAccount.solde | currency: 'EUR' }}</p>
      </div>

      <div class="total-soldes" *ngIf="client.currentAccount && client.savingAccount">
        <h3>TOTAL</h3>
        <p>{{ client.currentAccount.infoAccount.solde + client.savingAccount.infoAccount.solde | currency: 'EUR' }}</p>
      </div>

    </div>

  </div>

  <button class="btn btn-primary">Bank transfer</button>
</div>
