<div class="container">
  <p class="client-name">{{ client.lastName | uppercase }} {{ client.firstName }}</p>
  <h1>Client account</h1>

  <div class="tables">
    <div class="border-table card-table">
      <h2>Card</h2>
        <h3 *ngIf="client.card">{{ client.card.cardType }}</h3>
        <div class="card" *ngIf="client.card">

          <div class="d-flex justify-content-between">
            <p>ProxiBanque</p>
            <i class="fa-solid fa-rss" style="color: #ffffff;"></i>
          </div>

          <div class="card-infos">
            <div>
              <div class="name-date-infos">
                <p class="name-info">{{ client.lastName | uppercase }} {{ client.firstName }}</p>
                <p>{{ client.card.expirationDate }}</p>
              </div>
              <p class="numcard-info">{{ client.card.numCard }}</p>
            </div>

            <div class="cardtype-info">
              <p>VISA</p>
            </div>
          </div>

        </div>
    </div>

    <div class="border-table accounts-table">
      <h2>{{ client.lastName | uppercase }} {{ client.firstName }}</h2>

      <div class="account" *ngIf="client.currentAccount">
        <div>
          <h3>Current Account</h3>
          <p class="num-account">{{ client.currentAccount.infoAccount.numAccount }}</p>
        </div>
        <p class="solde">{{ client.currentAccount.infoAccount.solde | currency: 'EUR' }}</p>
      </div>

      <div class="account" *ngIf="client.savingAccount">
        <div>
          <h3>Saving Account</h3>
          <p class="num-account">{{ client.savingAccount.infoAccount.numAccount }}</p>
        </div>
        <p class="solde">{{ client.savingAccount.infoAccount.solde | currency: 'EUR' }}</p>
      </div>

      <div class="total-soldes" *ngIf="client.currentAccount && client.savingAccount">
        <h3>TOTAL</h3>
        <p class="solde">{{ client.currentAccount.infoAccount.solde + client.savingAccount.infoAccount.solde | currency: 'EUR' }}</p>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" (click)="openTransferModal('Current Account', 'Saving Account')">+ Bank transfer</button>
</div>
