h1, h2, h3 {
  color: #413993;
  padding: 0%;
  margin: 0%;
}

h1 {
  padding-bottom: 75px;
  font-size: 36px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

.container {
  margin-block: 75px;
  min-height: 70vh;
  text-align: center;
}

.tables {
  gap: 20px;
  text-align: justify;
  display: flex;
  justify-content: center;
}

.client-name {
  font-size: 22px;
  color: #959AA6;
}

.border-table {
  border: 1.5px solid #EDF0F6;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 50px;
}

.card-table {
  min-width: 320px;

  h3 {
    font-size: 16px;
    color: #959AA6;
    font-weight: 400;
    padding-top: 5px;
  }
}

.accounts-table {
  min-width: 546px;

  h2 {
    font-size: 16px;
    color: #959AA6;
  }

  h3 {
    text-decoration: underline;
    font-size: 18px;
  }
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num-account {
  color: #959AA6;
  font-size: 16px;
  padding-top: 5px;
}

.total-soldes {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    text-decoration: none;
    color: #D9D9D9;
    font-weight: 400;
  }
}

button {
  min-width: 160px;
  padding: 10px;
  background-color: #413993;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.card {
  background-color: #413993;
  width: 200px;
  min-height: 125px;
  border-radius: 20px;
  color: white;
  padding: 15px;
  margin-top: 20px;
}
