<div class="client-create-container">
    <h2>Add a client</h2>
    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="firstName">First name:</label>
            <input type="text" id="firstName" [(ngModel)]="client.firstName" name="firstName" required>
        </div>
        <div>
            <label for="lastName">Last name:</label>
            <input type="text" id="lastName" [(ngModel)]="client.lastName" name="lastName" required>
        </div>
        <div>
            <label for="street">Address:</label>
            <input type="text" id="street" [(ngModel)]="client.address.street" name="street" required>
        </div>
        <div>
            <label for="postalCode">Postal code:</label>
            <input type="text" id="postalCode" [(ngModel)]="client.address.postalCode" name="postalCode" required>
        </div>
        <div>
            <label for="city">City:</label>
            <input type="text" id="city" [(ngModel)]="client.address.city" name="city" required>
        </div>
        <div>
            <label for="noTel">Phone:</label>
            <input type="text" id="noTel" [(ngModel)]="client.noTel" name="noTel" required>
        </div>
        <button type="submit">Add client</button>
    </form>
    <a routerLink="/clients">Back to client list</a>
</div>
