<div class="client-create-container">
    <a routerLink="/client-list" class="back-to-list"> <- Back to client list</a>
    <form (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group"> 
                <label for="firstName">First name:</label>
                <input type="text" id="firstName" [(ngModel)]="client.firstName" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last name:</label>
                <input type="text" id="lastName" [(ngModel)]="client.lastName" name="lastName" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" id="address" [(ngModel)]="client.address.street" name="address" required>
            </div>
            <div class="form-group">
                <label for="postalCode">Postal code:</label>
                <input type="text" id="postalCode" [(ngModel)]="client.address.postalCode" name="postalCode" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" id="city" [(ngModel)]="client.address.city" name="city" required>
            </div>
            <div class="form-group">
                <label for="noTel">Phone:</label>
                <input type="text" id="noTel" [(ngModel)]="client.noTel" name="noTel" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add client</button>
    </form>
</div>
