.advisor-name {
  font-size: 20px;
  color:#959AA6!important;
  font-weight: 500;
}

h1 {
  color: #413993;
  padding-bottom: 75px;
}

.client-list-container {
  min-height: 80vh;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.client-table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1.5px solid #EDF0F6;
  border-right: 1.5px solid #EDF0F6;
  border-left: 1.5px solid #EDF0F6;
  border-radius: 20px;
  overflow: hidden;
  border-collapse: separate;

}


.client-table th, .client-table td {
    padding: 12px 15px;
    text-align: left;
    font-family: 'Inter';
    border-bottom: 1.5px solid #EDF0F6;
}

.client-table th {
    background-color: #EDF0F6;
    font-size: 16px;
}

.client-table td {
    color: #959AA6;
}

.action-button {
    margin: 0 5px;
}

.add-client-button {
  display: inline-block;
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #413993;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-client-button:hover {
  background-color: #584FBA;
}
