body, html {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 15px;
    align-items: center
}


.input-group input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.login-section, .news-section {
    width: 100%;
}

.login-section {
  display: flex;
  padding-top: 130px;
  min-height: calc(80vh);

  h1 {
    padding-bottom: 30px;
    color: #413993;
    font-weight: bold;
  }

  p {
    color: #898E9C;
    font-size: 16px;
  }

  img {
    width: 545px;
    height: 470px;
    object-fit: cover;
    border-radius: 30px;
  }

  >div {
    margin-top: 70px;
  }
}


label {
  padding-right: 20px;
  font-weight: 500;
}

.form-input {
    margin-bottom: 20px;
    width: 100%;
}

.form-input label, .form-input input {
    width: 100%;
}

.form-input input {
    padding: 80px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 40%;
    padding: 7px;
    background-color: #413993;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.login-button {
    margin-top: 20px;
    width: 25%;
    padding: 7px;
    background-color: #413993;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #584FBA;;
}

button:hover {
    background-color: #584FBA;;
}

.grey-container {
  background-color: #F5F5F5;
}

.news-section {
  min-height: calc(65vh);

  h2 {
    color: #413993;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
    padding-top: 90px;
  }

  >div {
    display: flex;
    justify-content: center;
  }
}

.image-section {
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 8px;
}

.news-card {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    max-width: 290px;

    h3 {
      font-size: 20px;
      font-weight: 700;
      color: #413993;
    }

    p {
      color: #898E9C;
    }
}

.news-card h3, .news-card p {
    margin: 5px 0;
}

.news-image {
    width: 100%;
    min-height: 150px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 10px;
}
