.container {
  min-height: 75vh;
  margin: 50px auto;
  padding: 20px;
  max-width: 900px;
}

h1 {
  text-align: center;
  color: #413993;
  padding-bottom: 75px;
}

.client-create-container {
    align-items: center;
    margin: 2% auto;
    margin-top: 50px 0 0 0;
    padding: 50px;
    border: 1.5px solid #edf0f6;
    border-radius: 30px;
    text-align: center;
}

.client-create-container h2 {
    margin-bottom: 20px;
    font-size: 34px;
    color: #413993;
}

.client-create-container .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.client-create-container .form-group {
    flex: 0 0 48%;
    display: flex;
    align-items: center;
    text-align: left;
}

.client-create-container .form-group label {
    flex: 0 0 40%;
    margin-right: 5px;
    font-weight: bold;
}

.client-create-container .form-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bolding{
    font-weight: bold;
}

.space {
    margin-left: 5px;
}

.back-to-list {
    display: block;
    margin-bottom: 20px;
    color: #413993;
    text-decoration: none;
    display: flex;
    justify-content: left;
    font-weight: bold;
    cursor: pointer;
}
.back-to-list:hover {
    color: #7e6ec7;
}

.back-to-list i {
    margin-right: 5px;
}
